<nav>
  <a routerLink="/" title="All media">
    <img src="../media/04.png" class="icon" />
  </a>
  <a routerLink="/Movies" title="Movies">
    <img src="./media/03.png" class="icon" />
  </a>
  <a routerLink="/Series" title="Series">
    <img src="media/02.png" class="icon" />
  </a>
  <a routerLink="/Documentary" title="Documentary">
    <img src="media/02.png" class="icon" />
  </a>
  <a routerLink="/Cartoons" title="Cartoons">
    <img src="media/02.png" class="icon" />
  </a>
</nav>
<section>
  <header>
    <h1>Welcome to Elzie's MediaWatchList</h1>
    <p class="description">Angular 5 Essential Training Course</p>
  </header>
  <router-outlet></router-outlet>
</section>
