<<<<<<< HEAD
:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 68px;
  background-color: #e453c5;
}

nav .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
}

section {
  width: 100%;
  background-color: #533266;
}

section>header {
  color: #ffffff;
  padding: 10px;
}

section>header>h1 {
  font-size: 2em;
}

section>header .description {
  font-style: italic;
=======
:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  width: 68px;
  background-color: #e453c5;
}

nav .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
}

section {
  width: 100%;
  background-color: #533266;
}

section>header {
  color: #ffffff;
  padding: 10px;
}

section>header>h1 {
  font-size: 2em;
}

section>header .description {
  font-style: italic;
>>>>>>> 01744e80458bd71127097f3467752037aad862fd
}